h1
{
    font-family: 'Bangers', Times, serif;
    /* background-color:royalblue; */
    letter-spacing: 4px;
    word-spacing: 10px;
    margin: 0px;
    padding: 20px;
    text-align: center;
    color:#000000;
    /* border: 25px groove royalblue; */
}
*
{
    margin:0px;
}
body
{
    background-image: url("backdrop.jpg");
    background-size: 1400px 700px;
}
.navbar
{
    background-color:black;
    border-radius: 10px;
    margin-bottom: 15px;
    /* margin-inline-start: 5px; */
}
.navbar li
{
    font-family: 'Ubuntu', sans-serif;
    float:left;
    list-style: none; 
    margin: 13px 10px;
}
.navbar ul
{
    overflow: auto;
}
.navbar li a
{
    /* padding: 3px 3px; */
    padding-left: 3px;
    padding-right: 10px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    text-decoration: none;
    color: gold;
    font-weight: bold;
    /* border-right:2px solid pink; */
}
.navbar li a:hover
{
    color:crimson;
}
.search
{
    float: right;
    color: white;
    padding: 12px 15px;
}
.navbar input
{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}
footer
{
    background-color:rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 5px;
    text-align: right;
    color:gold;
}
p,ol
{
    font-family: 'Ubuntu', sans-serif;
    line-height:30px;
    padding: 30px;
    font-weight: bold;
    font-size: 18px;
    color:#ffffff;
}
p:hover
{
    color:crimson;
}
h3
{
    padding:20px;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color:gold;
    margin:20px;

}
.contact li a
{
    text-decoration: none;
    color:#ffffff;
}
.contact li:hover
{
    color:crimson;
}
.contact li a:hover
{
    color:crimson;
}
.donatebutton
{
    text-align: center;
    /* border:10px groove #1e40a0; */
    border: 1px solid #373c58;
    width: 300px;
    height:100px;
    padding:25px 0px;
    margin:auto;
    border-radius: 14px;
    box-shadow: 10px 10px 10px #0b152d;
    margin-bottom:35px;
}
.donatebutton:hover
{
    border-color:#1e52a0;
}
.donatebutton :active
{
    background-color:#0b152d;
}
.razorpay-embed-btn
{
    margin-bottom:5px;
}